<%- include('./includes/head.ejs') %>
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
   <%- include('./includes/navbar.ejs') %>
</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1><%=title%>
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
          
          
          
          <!--/stories-->
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              Sign In!
              <br/><br/><form name="signInForm" action="/auth/signIn" method="post">
                UserName: <input name="username" id="username"/><br/>
                Password: <input type="password" name="password" id="password"/><br/>
                <input type="submit" value="Sign in" />
              </form>
            </div>
          </div>
          <hr>
          
          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>
<%- include('./includes/footer.ejs') %>